# Игнорируем виртуальное окружение
venv_notepad/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt

# Игнорируем системные файлы
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/

# Игнорируем IDE файлы
.idea/
.vscode/
*.swp
*.swo

# Игнорируем Docker файлы
Dockerfile
.dockerignore 